.test {
  /*  border: 1px solid black;*/
}
.row {
  margin-bottom: 50px;
}
.user-name { 
  font-size: 3em;
  text-align: center; 
}
.profile-img {
  height: 300px;
}
.core-score{
  float: right !important;
  margin-right: 10%;
}
.core-score h1 {
  font-size: 20em;
}
.traitify-container {
  height: 500px;
  overflow: hidden;
}
